/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

@mixin light-scheme {
  /* Sidebar */
  // --sidebar-bg: radial-gradient(circle, rgba(42, 30, 107, 1) 0%, rgba(35, 37, 46, 1) 100%);
  --sidebar-bg: radial-gradient(circle, rgba(0, 75, 9, 1) 0%, rgba(17, 111, 60, 1) 100%);
  --nav-cursor-color: #fcfcfc;
}

.post-content a {
  color: #116f3c !important;
}
