/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

@mixin light-scheme {
  /* Sidebar */
  // --sidebar-bg: radial-gradient(circle, rgba(42, 30, 107, 1) 0%, rgba(35, 37, 46, 1) 100%);
  --sidebar-bg: radial-gradient(circle, rgba(0, 75, 9, 1) 0%, rgba(17, 111, 60, 1) 100%);
  --nav-cursor-color: #fcfcfc;

  #topbar {
    background-color: white;
  }

  #avatar {

    &:hover>a {
      border-color: #fff;
    }

    >a {
      display: block;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      border: 0px !important;
      overflow: hidden;
      transform: translateZ(0); // fixed the zoom in Safari
      -webkit-transition: border-color 0.35s ease-in-out;
      -moz-transition: border-color 0.35s ease-in-out;
      transition: border-color 0.35s ease-in-out;
    }

    img {
      width: 100%;
      height: 100%;
      -webkit-transition: transform 0.5s;
      -moz-transition: transform 0.5s;
      transition: transform 0.5s;

      &:hover {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }

  // #avatar

}


.post-content a {
  color: #116f3c !important;
}
